.create-container{
    margin-left: 48px;
    background-color: white;
    background-image: none;
    width: 100%;
    height: 100%;
   
}

.icon{
    width: 48px;
    height: 48px;
    margin-right: 24px;
    align-self: center;
}
.create-heading{
    font-size: 48px;

}
.heading-div{
    margin-top: 48px;
    display: flex;
    align-items: center;
   
    
}
.journal-inputs{
    margin-top: 24px;
}
.input-div{
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: flex-start;
    margin-bottom: 24px;
}
.input-div input{
    padding: 16px 24px;
    
    background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.67);
}
.input-div label{
    text-align: left;
    font-size: 16px;
    font-weight: semibold;
    margin-bottom: 8px;
}
.secondary{
    
    border-radius: 16px;
    border: 1px solid black;
    color: black;
    padding: 16px 24px;
    background-color: transparent;
    margin-right: 24px;
    cursor: pointer;

}
.secondary :hover{
    border: 1px solid #E63946;
}

.all-inputs{
    display: flex;
    align-items: start;
}
.input-story{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
 
}
.story-text{
    padding: 16px 24px;
    
    background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.8px);
-webkit-backdrop-filter: blur(2.8px);
border: 1px solid rgba(255, 255, 255, 0.67);
height: 256px;
}
.primary{
    border-radius: 16px;
    border: none;
    background-color: #E63946;
    color: white;
    padding:16px 24px;
    cursor: pointer;
    margin-top: 56px;
    
}